p{
  font-family: fantasy;
  font-size: 50px;
  letter-spacing: 1px;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-align: center;
  margin-top: 30px;
  }

:host ::ng-deep .mat-tab-labels{
  margin-top: 25px;
}

.top{
  margin-top: 40px;
}

li{
    font-size: 15px;
}

.topping{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.example-card {
  max-width: 200px;
  text-align:center;
}

img{
  width: 130px;
}

.active{

background-color:#d2b99e
}
.mat-form-field{
  width:70%;
}

.butt{
  text-align: center;
    padding-right: 125px;
}

.listt{
padding:5px;
margin-top:5px;
margin-bottom: 5px;
margin-right:20px;
}

mat-card-header{
  margin-left:40px;
}

.showerror{
  color:red;
  margin-top: 50px;
}
