<p>Cart</p>
<div class="col-xs-12 padding" *ngIf="show">
  <div class="col-xs-4">
    <img class="img1" src="../../assets/images/cart-pizza.png">
  </div>
  <div class="col-xs-7 ">
    <div>Size: {{this.commonService.pizzaDetails.addPizzaSize}}</div>
    <div>Base: {{this.commonService.pizzaDetails.base}}</div>
    <div>Toppings: {{this.commonService.pizzaDetails.selectedToppings}}</div>
    <div>Price: Rs{{this.commonService.pizzaDetails.price}}</div>
  </div>
  <div class="col-xs-1">
    <img class="img2" src="../../assets/images/delete.png" (click)="delete()">
  </div>
</div>
<div class="col-xs-12" *ngIf="show ">
  <div class="col-xs-2 col-xs-offset-10">
      <button mat-raised-button color="accent" class="cart" (click)="onAddToCart()" type="submit">Order</button>
  </div>
</div>
<div *ngIf="!show && !showSuccessMsg" class="butt">
  <h4 style="text-align: center">Your Cart is empty</h4>
  <button mat-raised-button color="accent" type="submit" (click)="onClick()" >Go back</button>
</div>
<div *ngIf="!show && showSuccessMsg" class="butt">
    <h4 style="text-align: center">Thanks {{this.commonService.userDetails.name}} For Ordering pizza</h4>
      <h5>Your Pizza Will be deleivered soon at your address: {{this.commonService.userDetails.address}}</h5>
      <h5>Get Rs{{this.commonService.pizzaDetails.price}} Ready</h5>
    <button mat-raised-button color="accent" type="submit" (click)="onClick1()">Buy More</button>
  </div>
