.img1{
  width:100px;
}

.padding{
  margin-top:50px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  padding:35px;
}

.img2{
  width:40px;
  margin-top: 30px;
  margin-right:100px;
}

.butt{
  text-align: center;
  margin-top:200px
}


p{
  font-family: fantasy;
  font-size: 50px;
  letter-spacing: 1px;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-align: center;
  margin-top: 30px;
  }

  .cart{
    margin-top:10px;
    width: 107px;
  }

