<div class="col-xs-12 a padd">
  <div class="col-xs-6 b padd">
    <img class="img1" src="../assets/images/pizza.jpg" />
  </div>
  <div class="col-xs-6" *ngIf="commonService.showuserDetails">
    <app-add-user-details></app-add-user-details>
  </div>
  <div class="col-xs-6" *ngIf="!commonService.showuserDetails">
  <app-front-page ></app-front-page>
  </div>
</div>



<!--
<div class="col-xs-12 a padd">
  <div class="col-xs-6 b padd">
    <img class="img1" src="../assets/images/pizza.jpg" />
  </div>
  <div class="col-xs-6">
    <mat-tab-group>
      <mat-tab label="First">
        <app-add-user-details></app-add-user-details>
      </mat-tab>
      <mat-tab label="Second"
        ><app-add-pizza-info></app-add-pizza-info
      ></mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div> -->
