<div class="col-xs-12">
  <form [formGroup]="userInfo" *ngIf="!commonService.showAddPizza">
    <p>Enter Your Details</p>
    <mat-card class="card">
      <div class="col-xs-offset-1">
        <mat-form-field>
          <input matInput class="form-control" formControlName="name" placeholder="Name" type="text" >
        </mat-form-field><br />
        <mat-form-field>
          <textarea matInput class="form-control heig" formControlName="address" placeholder="Address" type="text" ></textarea>
        </mat-form-field><br />
        <mat-form-field>
          <input matInput class="form-control" placeholder="Pincode" formControlName="pincode" type="text" >
        </mat-form-field><br />
        <mat-form-field>
          <input matInput class="form-control" placeholder="Phone no." formControlName="phone_no" type="text" >
        </mat-form-field><br />
        <button mat-raised-button color="accent" (click)="onClick()" [disabled]="userInfo.invalid" type="submit">Save</button>
        <!-- <button mat-raised-button color="accent" (click)="onClick()"   type="submit">Save</button> -->
      </div>
    </mat-card>
  </form>
  <div class="col-xs-12" *ngIf="commonService.showAddPizza">
    <app-add-pizza-info></app-add-pizza-info>
  </div>
</div>
